@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Bebas+Neue|Monoton|Roboto&display=swap');
body{
}
h1{
font-family: 'Monoton', cursive;
  font-size: 5em;
}
h2{
font-family: 'Roboto', sans-serif;
  font-size: 2em;
}
p1{
font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
h3{
font-family: 'Bebas Neue', cursive;
  font-size: 2em;
}
p2{
font-family: 'Bebas Neue', cursive;
  font-size: 1em;
}
h4{
font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
p3{
font-family: 'Abril Fatface', cursive;
  font-size: 1em;
}
